.statusbar{
	padding: 15px 30px;
	background-color: #f9f9f9;
	border-top: 1px solid #eaeaea;
	color: #666;
	font-size: 0.9rem;
	display: flex;
	justify-content: space-between;
}

.total{
	font-weight: 600;
	color: #2575fc;
}

.status {
	margin-left: 15px;
	color: #2575fc;
}

.bar_info {
	display: flex;
}

@media (max-width: 768px) {
	.statusbar{
		flex-direction: column;
		padding: 15px 10px;
	}

	.bar_copy {
		margin-top: 10px;
		text-align: center;
	}
}

@media (max-width: 540px) {
	.bar_info {
		flex-direction: column;
	}
	.status {
		margin: 0;
	}
}